html {
  height: 100%;
  font-size: 100px;
}

ul li {
  list-style: none
}

body {
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 100%;
}

ul, li, body, td, tr,ol {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  width: 100%;
  height: 100%;
}
.row{
  position: relative;
  box-sizing: border-box;
  width:12rem;
  margin: 0 auto;
}
.plr-01{
  padding-left: 0.1rem;
  padding-right:0.1rem;
}
.color-yellow{
  color:yellow;
}
.color-green{
  color:green;
}
.color-blue{
  color:blue;
}
.color-red{
  color:red;
}
.color-orange{
  color:#f39800;
}
.color-white{
  color:#fff;
}
.color-0ff{
  color:#0ff;
}
.display-block{
  display:block;
}
.display-none{
  display:none;
}
