$c-primary: #fd7a00;
$theme-blue: #3296fa;
$theme-red: #da3838;
$bg_color: #e9eaec;
$container_color:#fff;
$primary_theme_color:#19a6f2;
$title_text_color:#fff;
$title_bg_color:#05bdfd;
$primary_text_color:#333;
$regular_text_color:#555;
$secondary_text_color:#909399;
$placeholder_text_color:#C0C4CC;
$label_normal_color:#3c7ba9;
$label_hover_color:#9cbfd9;
$table_line_color: #e9eaec;
$primary_btn_color:#19a6f2;
$primary_btn_bg_color:#19a6f2;
$primary_btn_text_color:#fff;
$input_border_color:#d4d7e0;
$btn_hover_bg_color:#05bdfd;
$btn_hover_text_color:#fff;
$btn_hover_color:#fff;
%btn-yellow {
  color: #000;
  background-image: linear-gradient(to bottom,#e8eaaf, #b5800c); 
  min-width: 0.9rem; 
  box-sizing: border-box;
  cursor: pointer;
  padding:0 0.1rem;
  height: 0.26rem;
  margin: 0 0.04rem;
  font-size: 0.14rem;
  vertical-align: top;
  border: none;
  border-radius: 0.03rem;
  transition: all .3s;
}

